html {
    background-color: #F3E2D4;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Liberation Serif", serif;
    color: #17313E;
    text-align: center;
}

ul.recipes-container,
ol.recipes-container {
    margin: 0 auto;
    padding: 0.1em;
    width: 80vw;
    list-style-type: none;
    background-color: #415E72;
}

li.recipe-element {
    font-family: "DejaVu Sans", sans-serif;
    margin: 1em;
    height: 5em;
    padding: 1vw;
    background-color: #C5B0CD;
}

img.recipe-element-image {
    height: 5em;
    margin-right: 1em;
}

img.recipe-meal-image {
    width: auto;
    height: 400px;
    margin: 0 auto;
    display: block;
    border: solid white 0.5em;
}

p.credits {
    text-align: center;
}